.form-container{
    text-align: center;
}

.form-control{
    width: 100%;
    box-sizing: border-box;
}

.form-control-wrapper{
    margin-bottom: 20px;
}

input, textarea{
    padding: 10px;
}

.wrapper{
    padding-top: 100px;
}