.header-container{
    padding: 20px;
}

.header{
    flex: 70%;
}

.flag-img{
    width: 20px;
    height: 20px;
}

.sort_msg{
    font-size: 10px;
    font-weight: 100;
}

.mode_btn{
    // position: absolute;
    // right: 0;
    // margin-right: 40px;
}