.detail-section{
    padding: 20px 30px;
}

.detail-container{
    margin-top: 30px;
}

.card-container{
    flex: 50%;
}

.units_section{
    margin-top: 30px;
}

.radio_label{
    font-size: 25px;
    font-weight: 100;
    margin-left: 5px;
}